@use "../abstracts";

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	// Primary color
	--primary: #f59c5c;
	--primary-light: #f7b687;

	// Accent colors
	--accent: #3b8256;
	--accent-light: #659477;
	--accent-dark: #23412f;

	// Brown colors
	--brown-1: #423d3c;
	--brown-2: #383231;
	--brown-3: #2d2726;
	--brown-4: #292424;
	--brown-5: #221e1e;

	// Others
	--white: #fff;
	--gray: #cbc9c9;
	--red: #7e3e3f;
	--teal: #377e86;
	--burnt-orange: #875c36;
}

html {
	font: 62.5% Outfit, Fira Sans, sans-serif;
}

body {
	font-size: 1.6rem;
	color: var(--white);
	background: var(--brown-3);
}

select,
input,
textarea,
button {
	font-size: inherit;
	font-family: inherit;
}

a {
	text-decoration: none;
}

strong {
	color: var(--primary);
	font-size: 12rem;
	letter-spacing: -0.24rem;
}

p {
    line-height: 1.6;
}

h1,
h2,
h3 {
	@extend %heading-styles;
}

h1 {
	@include abstracts.size-lheight(6rem, 1);
}

h2 {
	@include abstracts.size-lheight(3.6rem, 1.1);
}

h3 {
	@include abstracts.size-lheight(2.4rem, 1.1);
}
